[submodule "thirdparty/MonkVG"]
	path = thirdparty/MonkVG
	url = http://git.oschina.net/rhcad/MonkVG.git
[submodule "thirdparty/TouchVGShape"]
	path = thirdparty/TouchVGShape
	url = http://git.oschina.net/rhcad/TouchVGShape.git
[submodule "thirdparty/minizip"]
	path = thirdparty/minizip
	url = https://github.com/nmoinvaz/minizip.git
