[submodule "thirdparty/MonkVG"]
	path = thirdparty/MonkVG
	url = http://git.oschina.net/rhcad/MonkVG.git
[submodule "thirdparty/TouchVGShape"]
	path = thirdparty/TouchVGShape
	url = http://git.oschina.net/rhcad/TouchVGShape.git
